// .chart{
//    width: 80rem;
//    height: 5rem;
// }

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    // font-size: 1.1em;
    // font-weight: 300;
    line-height: 1.7em;
    color: rgb(117, 117, 117);
}

// .chart{
//    width: 80rem;
//    height: 5rem;
// }

html {
   scroll-behavior: smooth;
 }

.container{
   padding: 4px 4em;
}
.title{
   text-align: center;
}

.dashboard{
   // background-color:  #eee;
   min-height: 600px;
}

.pressure{
   background-color : #eee;
   min-height: 600px;
}

.fluid{
   min-height: 600px;
}

.boiler{
   background-color : #eee;
   min-height: 600px;
}

.condensor{
   min-height: 600px;
}

.maps{
   background-color : #eee;
   min-height: 800px;

}

.setPoint{
   padding: 3em;
   min-height: 600px;
}
.setPoint-content{
   padding: 2em;
   // min-height: 600px;
}
.search-button{
   font-size: 22px;
}

.footer{
	width: 100%;
	bottom: 0;
	
	background-color:#f8f9fa;
	color: #000;
   box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
}
.container-foot {
   background-color: rgb(233, 230, 230);
   height: 50px;
   p {
      padding: 1em 0;
      font-size: 0.8em;
   }
   
}
.container-desc{
   padding: 2em;
   p {
      // padding: 1em 0;
      font-size: 0.8em;
   }
}
.font-format{
   font-family: 'Poppins', sans-serif;
   font-size: 0.8em;
   // font-weight: 300;
   line-height: 1.7em;
   color: rgb(117, 117, 117);
}
@media (min-width: 768px) {
   hr{
      width: 15rem;
      border: 1px solid #111;
   }
   .dashboard{
      padding : 6em 3em;
   }
   .pressure{
      padding : 6em 3em;
   }
   .setPoint{
      padding : 6em 3em;
   }
   .fluid{
      padding : 6em 3em;
   }
   .boiler{
      padding : 6em 3em;
   }
   .condensor{
      padding : 6em 3em;
   }
   
   .container-maps{
      padding: 3px 12em ;
   }
   
   .chart{
      width: 55rem;
      margin-left: 5em;
      
   }
  
}
@media (min-width: 1024px){
   .container-maps{
      padding: 3em 23em ;
   }
}
@media (max-width: 768px) {
   hr{
      width: 10rem;
      border: 1px solid #111;
   }
   .container{
      padding: 50px 0em !important;
   }
   .container-foot{
      padding: 0px 3em !important;
   }
   .chart{
      min-width: 250px;
      overflow-x: auto;
      #chart{
         width: 400px !important;
         height: 250px !important;
      }
      #chart_press{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_fluid{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_boiler{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_condensor{
         width: 400px !important;
         height: 270px !important;
      }
   }
   .maps{
      background-color : #eee;
      min-height: 600px !important;
   
   }
   .container-maps{
      padding: 3em 9em ;
   }
   .maps-pos{
      iframe{
         width: 400px !important;
         height: 290px !important;
      }
   }
}

@media (max-width : 380px){
   .container{
      padding: 70px 0em !important;
   }
   .maps{
      background-color : #eee;
      min-height: 630px !important;
   
   }
   .container-maps{
      padding: 20px 2em ;
   }
   .maps-pos{
      iframe{
         width: 290px !important;
         height: 290px !important;
      }
   }
}

