// .chart{
//    width: 80rem;
//    height: 5rem;
// }
html {
   scroll-behavior: smooth;
 }

.container{
   padding: 4px 4em;
}
.title{
   text-align: center;
}

.dashboard{
   // background-color:  #eee;
   min-height: 600px;
}

.pressure{
   background-color : #eee;
   min-height: 600px;
}

.fluid{
   min-height: 600px;
}

.boiler{
   background-color : #eee;
   min-height: 600px;
}

.condensor{
   min-height: 600px;
}

.maps{
   background-color : #eee;
   min-height: 800px;

}

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100px;
	background-color:#f8f9fa;
	color: #000;
   padding: 20px;
   box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
   hr{
      width: 15rem;
      border: 1px solid #111;
   }
   .dashboard{
      padding : 6em 3em;
   }
   .pressure{
      padding : 6em 3em;
   }
   .fluid{
      padding : 6em 3em;
   }
   .boiler{
      padding : 6em 3em;
   }
   .condensor{
      padding : 6em 3em;
   }
   
   .container-maps{
      padding: 3px 12em ;
   }
   
   .chart{
      width: 55rem;
      margin-left: 5em;
      
   }
  
}
@media (min-width: 1024px){
   .container-maps{
      padding: 3em 23em ;
   }
}
@media (max-width: 768px) {
   hr{
      width: 10rem;
      border: 1px solid #111;
   }
   .container{
      padding: 50px 0em !important;
   }
   .container-foot{
      padding: 0px 3em !important;
   }
   .chart{
      min-width: 250px;
      overflow-x: auto;
      #chart{
         width: 400px !important;
         height: 250px !important;
      }
      #chart_press{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_fluid{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_boiler{
         width: 400px !important;
         height: 270px !important;
      }
      #chart_condensor{
         width: 400px !important;
         height: 270px !important;
      }
   }
   .maps{
      background-color : #eee;
      min-height: 600px !important;
   
   }
   .container-maps{
      padding: 3em 9em ;
   }
   .maps-pos{
      iframe{
         width: 400px !important;
         height: 290px !important;
      }
   }
}

@media (max-width : 380px){
   .container{
      padding: 70px 0em !important;
   }
   .maps{
      background-color : #eee;
      min-height: 630px !important;
   
   }
   .container-maps{
      padding: 20px 2em ;
   }
   .maps-pos{
      iframe{
         width: 290px !important;
         height: 290px !important;
      }
   }
}

